/*
* @Author: Marte
* @Date:   2018-06-19 01:12:48
* @Last Modified by:   Marte
* @Last Modified time: 2018-06-19 21:17:42
*/

.bjys1{
    background-color:rgba(200, 10, 10, 0.8);
}
.bjys2{
    background-color:rgba(10, 200, 10, 0.8);
}
.bjys3{
    background-color:rgba(10, 10, 200, 0.8);
}
.bjys4{
    background-color:rgba(100, 200, 10, 0.8);
}
.bjys5{
    background-color:rgba(50, 200, 100, 0.8);
}
.bjys6{
    background-color:rgba(70, 70, 200, 0.8);
}
.bjys7{
    background-color:rgba(200, 50, 50, 0.8);
}
.bjys8{
    background-color:rgba(150, 50, 50, 0.8);
}
.bjys9{
    background-color:rgba(50, 150, 50, 0.8);
}
.bjys10{
    background-color:rgba(50, 50, 150, 0.8);
}
.bjys11{
    background-color:rgba(60, 60, 200, 0.8);
}
.bjys12{
    background-color:rgba(200, 100, 200, 0.8);
}
.bjys13{
    background-color:rgba(60, 200, 200, 0.8);
}
.bjys14{
    background-color:rgba(200, 60, 200, 0.8);
}